html, body {
	height: 100%;
	color: var(--bs-dark);
}

h1, h2, h3, h4, h5 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

ul {
	list-style-type: square;
}

.d-flex-center-center {
	align-items: center !important;
	justify-content: center !important;
	display: flex !important;
}

.fs-7 {
	font-size: 0.9rem!important;
}

.navbar-brand img {
	max-width: 100%;
	max-height: 60px;
}

.top-banner {
	background-size: cover;
	background-position: left top;
	background-image: linear-gradient(to bottom, var(--bs-light), var(--bs-lavender));
}

.top-banner img {
	margin-top: -3rem;
	margin-bottom: -12%;
}

.card {
	border-radius: 0rem;
	border: none;
	background-color: transparent;
}

.discord-border-gradient {
	border: 2px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, var(--bs-lavender), var(--bs-orange))
}

.discord-button-top {
	position: absolute;
	top: -3rem;
}
.discord-button-top div {
	color: var(--bs-navy)!important;
	font-style: italic;
	font-size: 0.8rem;
}

.text-bg-white-padded span {
	background-color: rgba(255,255,255,0.5);
	padding: 4px;
	line-height: 3.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

/* Extra theme colors */

.text-gray-dark {
	color: var(--bs-gray-dark)!important;
}
.bg-gray-dark {
	background-color: var(--bs-gray-dark);
}
.border-gray-dark {
	border-color: var(--bs-gray-dark)!important;
}

.bg-gray-light {
	background-color: var(--bs-gray-light);
}

.text-blue {
	color: var(--bs-blue)!important;
}
.bg-blue {
	background-color: var(--bs-blue);
}
.text-bg-blue-padded span {
	background-color: rgba(var(--bs-blue-rgb), 0.2);
	padding: 4px;
	line-height: 3.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.bg-blue-gradient {
	background-color: var(--bs-blue);
	background-image: linear-gradient(to bottom left, var(--bs-blue), var(--bs-lavender));
}
.border-blue {
	border-color: var(--bs-blue)!important;
}

.text-navy {
	color: var(--bs-navy)!important;
}
.text-bg-navy-padded span {
	background-color: var(--bs-navy);
	padding: 4px;
	line-height: 3.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.bg-navy {
	background-color: var(--bs-navy);
}
.bg-navy-gradient {
	background-color: var(--bs-navy);
	background-image: linear-gradient(to bottom, var(--bs-blue), var(--bs-navy));
}
.border-navy {
	border-color: var(--bs-navy)!important;
}

.text-midnight {
	color: var(--bs-midnight)!important;
}
.text-bg-midnight-padded span {
	background-image: linear-gradient(to right, rgba(27,20,100,0.1), rgba(40, 35, 118, 0.3));
	padding: 4px;
	line-height: 3.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.bg-midnight {
	background-color: var(--bs-midnight);
}
.bg-midnight-gradient {
	background-color: var(--bs-midnight);
	background-image: linear-gradient(to bottom, var(--bs-navy), var(--bs-midnight));
}
.border-midnight {
	border-color: var(--bs-midnight)!important;
}

.bg-banner-gradient {
	background-image: url(img/bg-repeatable.png), linear-gradient(to bottom, var(--bs-secondary), #15104f);
	background-position: top left, top left;
	background-repeat: repeat, repeat;
}

.text-lavender {
	color: var(--bs-lavender)!important;
}
.text-bg-lavender-padded span {
	background-image: linear-gradient(to right, rgba(27,20,100,0.1), rgba(40, 35, 118, 0.3));
	padding: 4px;
	line-height: 3.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.bg-lavender {
	background-color: var(--bs-lavender);
}
.bg-lavender-gradient {
	background-color: var(--bs-lavender);
	background-image: linear-gradient(to bottom, var(--bs-navy), var(--bs-lavender));
}
.border-lavender {
	border-color: var(--bs-lavender)!important;
}

.text-orange {
	color: var(--bs-orange)!important;
}
.text-bg-orange-padded span {
	background-image: linear-gradient(to right, rgba(27,20,100,0.1), rgba(40, 35, 118, 0.3));
	padding: 4px;
	line-height: 3.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.bg-orange {
	background-color: var(--bs-orange);
}
.bg-orange-gradient {
	background-color: var(--bs-orange);
	background-image: linear-gradient(to bottom, var(--bs-navy), var(--bs-orange));
}
.border-orange {
	border-color: var(--bs-orange)!important;
}

/* Arrow brand colors */
:root {
	--bs-dark-rgb: 6, 5, 40;
	--bs-dark: #060528;
	--bs-light-rgb: 217, 215, 229;
	--bs-light: #d9d7e5;
	--bs-primary-rgb: 83, 82, 153;
	--bs-primary: #535299;
	--bs-secondary-rgb: 27, 20, 100;
	--bs-secondary: #1b1464;
	--bs-blue-rgb: 96, 97, 177;
	--bs-blue: #6061b1;
	--bs-navy-rgb: 27, 20, 100;
	--bs-navy: #1b1464;
	--bs-midnight-rgb: 6, 5, 40;
	--bs-midnight: #060528;
	--bs-lavender: #8086ed;
	--bs-orange: #ff926a;

	--bs-gray-light: #e6e6e6;
	--bs-gray-dark: #a6a6a6;
	--bs-font-sans-serif: "karla",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

	/* possible overwrites

	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-primary-rgb: 13,110,253;
	--bs-secondary-rgb: 108,117,125;
	--bs-success-rgb: 25,135,84;
	--bs-info-rgb: 13,202,240;
	--bs-warning-rgb: 255,193,7;
	--bs-danger-rgb: 220,53,69;
	--bs-light-rgb: 248,249,250;
	--bs-white-rgb: 255,255,255;
	--bs-black-rgb: 0,0,0;
	--bs-body-color-rgb: 33,37,41;
	--bs-body-bg-rgb: 255,255,255;
	*/
}
