    <div fs-scrolldisable-element="smart-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="arrow-navbar_component color-scheme-4 w-nav">
      <div class="container-large">
        <div class="arrow-navbar_container">
          <a href="/index.html" class="arrow-navbar_logo-link w-nav-brand">
            <div class="main-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="150" height="45" viewbox="0 0 657.38 193.42">
                <path fill="#fff" d="M162.9,120.1l-50.36-11.17-31.09,84.49-31.09-84.49L0,120.1,81.45,0l81.45,120.1Z"></path>
                <path fill="#fff" d="M183.1,151.64l41.23-106.46,25.25-3.68,43.27,110.14h-28.72l-6.99-20.98-39.39,1.87-6.37,19.12h-28.28ZM225.07,110.59l24.96-1.57-12.27-36.4-12.69,37.97h0Z"></path>
                <path fill="#fff" d="M359.06,68.72v28.28c-1.78-.65-3.68-1.1-5.69-1.3-.83-.09-1.69-.12-2.58-.12-6.08,0-11.29,2.05-15,5.57-3.79,3.59-7.23,8.68-7.23,14.73v35.8h-25.46v-81.36l25.04-3.97v12.03c7.29-6.19,16.51-9.9,26.56-9.9,1.48,0,2.93.09,4.36.24Z"></path>
                <path fill="#fff" d="M426.37,68.72v28.28c-1.78-.65-3.68-1.1-5.69-1.3-.83-.09-1.69-.12-2.58-.12-6.08,0-11.29,2.05-15,5.57-3.79,3.59-7.23,8.68-7.23,14.73v35.8h-25.46v-81.36l25.04-3.97v12.03c7.29-6.19,16.51-9.9,26.56-9.9,1.48,0,2.93.09,4.36.24Z"></path>
                <path fill="#fff" d="M578.54,81.37l19.21-2.52,12.51,35.6,14.46-47.16,32.66-4.53-32.31,89.15h-22.58l-14.23-37.11-10.97,36.78h-22.35l-28.31-79.85,29.05-3.82,11.91,45.97,11-32.54h-.06v.03h0Z"></path>
                <path fill="#fff" d="M479.22,151.64c-25.05,0-45.34-19.09-45.34-42.65s20.29-42.65,45.34-42.65,45.34,19.09,45.34,42.65-19.99,42.65-45.34,42.65ZM479.22,129.28c11.64,0,19.69-8.35,19.69-20.29s-8.05-20.29-19.69-20.29-19.69,8.65-19.69,20.29,8.35,20.29,19.69,20.29h0Z"></path>
              </svg></div>
          </a>
          <nav role="navigation" class="arrow-navbar_menu w-nav-menu">
            <div class="arrow-navbar_menu-left">
              <a href="/docs/overview/about-arrow" class="arrow-navbar_link w-nav-link">About</a>
              <a href="/docs/guides/development-guide" class="arrow-navbar_link w-nav-link">Engineering</a>
              <a href="/docs/community/" class="arrow-navbar_link w-nav-link">Community</a>
              <a href="/docs/governance/" class="arrow-navbar_link w-nav-link">DAO</a>
              <div data-delay="150" data-hover="true" data-w-id="32cf97d0-089e-13fd-d572-f82690f04923" class="arrow-navbar_menu-dropdown w-dropdown">
                <div class="arrow-navbar_dropdown-toggle w-dropdown-toggle">
                  <div class="drop-menu-title">Quicklinks</div>
                  <div class="dropdown-chevron w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                    </svg></div>
                </div>
                <nav class="arrow-navbar_dropdown-list w-dropdown-list">
                  <div class="arrow-navbar_container">
                    <div class="arrow-navbar_dropdown-content">
                      <div class="arrow-navbar_dropdown-content-left">
                        <div class="arrow-navbar_dropdown-column is-general">
                          <div class="margin-bottom margin-xsmall title-engineering">
                            <div class="menu-title-bullet w-embed">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <g fill="currentColor">
                                  <path d="M22 13.5V10.5L18.6914 8.13674L18.2991 4.08973L15.701 2.58973L12 4.27343L8.29904 2.58975L5.70096 4.08975L5.3086 8.13672L2 10.5V12V13.5L5.30858 15.8633L5.70095 19.9103L8.29903 21.4103L12 19.7266L15.701 21.4103L18.299 19.9103L18.6914 15.8633L22 13.5Z" stroke="currentColor" stroke-width="2" fill="none"></path>
                                  <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="currentColor" stroke-width="2" fill="none"></path>
                                </g>
                              </svg>
                            </div>
                            <h4 class="text-size-small is-mega-menu title">Engineering</h4>
                          </div>
                          <div class="arrow-navbar_dropdown-link-list">
                            <a href="/quiver/" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 12.75H15.25V1.75H4.75C3.645 1.75 2.75 2.645 2.75 3.75V14.5C2.75 13.533 3.534 12.75 4.5 12.75ZM11 7.25C11 8.35457 10.1046 9.25 9 9.25C7.89543 9.25 7 8.35457 7 7.25C7 6.14543 7.89543 5.25 9 5.25C10.1046 5.25 11 6.14543 11 7.25Z" fill="currentColor" fill-opacity="0.3" data-stroke="none" stroke="none"></path>
                                      <path d="M15.25 12.75C14.609 13.594 14.516 15.297 15.25 16.25H4.5C3.534 16.25 2.75 15.467 2.75 14.5"></path>
                                      <path d="M15.25 12.75H4.5C3.534 12.75 2.75 13.533 2.75 14.5V3.75C2.75 2.645 3.645 1.75 4.75 1.75H15.25V12.75Z"></path>
                                      <path d="M9 4V5"></path>
                                      <path d="M11.2981 4.9519L10.591 5.659"></path>
                                      <path d="M12.25 7.25H11.25"></path>
                                      <path d="M11.2981 9.5481L10.591 8.841"></path>
                                      <path d="M9 10.5V9.5"></path>
                                      <path d="M6.7019 9.5481L7.409 8.841"></path>
                                      <path d="M5.75 7.25H6.75"></path>
                                      <path d="M6.7019 4.9519L7.409 5.659"></path>
                                      <path d="M9 9.25C10.1046 9.25 11 8.35457 11 7.25C11 6.14543 10.1046 5.25 9 5.25C7.89543 5.25 7 6.14543 7 7.25C7 8.35457 7.89543 9.25 9 9.25Z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Project Quiver Docs</div>
                                <p class="text-size-small is-mega-menu">All Quiver Docs on Github</p>
                              </div>
                            </a>
                            <a href="https://github.com/Arrow-air" target="_blank" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="currentColor">
                                      <path d="M2.70199 7.75H15.298C16.284 7.75 17.001 8.684 16.747 9.636L15.646 13.765C15.413 14.641 14.62 15.25 13.714 15.25H4.28699C3.38099 15.25 2.58799 14.641 2.35499 13.765L1.25399 9.636C0.999992 8.684 1.71799 7.75 2.70299 7.75H2.70199Z" fill="currentColor" fill-opacity="0.3" data-stroke="none" stroke="none"></path>
                                      <path d="M2.25 7.75V4.75C2.25 3.645 3.145 2.75 4.25 2.75H6.201C6.808 2.75 7.381 3.025 7.761 3.498L8.364 4.25H13.75C14.855 4.25 15.75 5.145 15.75 6.25V7.75" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                                      <path d="M2.70199 7.75H15.298C16.284 7.75 17.001 8.684 16.747 9.636L15.646 13.765C15.413 14.641 14.62 15.25 13.714 15.25H4.28699C3.38099 15.25 2.58799 14.641 2.35499 13.765L1.25399 9.636C0.999992 8.684 1.71799 7.75 2.70299 7.75H2.70199Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">GitHub Repositories</div>
                                <p class="text-size-small is-mega-menu">All Arrow repos on GitHub</p>
                              </div>
                            </a>
                            <a href="/bounty/" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path opacity="0.3" d="M16.25 7.75H11.75C11.198 7.75 10.75 8.198 10.75 8.75V9.75C10.75 10.302 11.198 10.75 11.75 10.75H16.25C16.802 10.75 17.25 10.302 17.25 9.75V8.75C17.25 8.198 16.802 7.75 16.25 7.75Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                      <path opacity="0.3" d="M15.25 10.75H10.75C10.198 10.75 9.75 11.198 9.75 11.75V12.75C9.75 13.302 10.198 13.75 10.75 13.75H15.25C15.802 13.75 16.25 13.302 16.25 12.75V11.75C16.25 11.198 15.802 10.75 15.25 10.75Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                      <path opacity="0.3" d="M16.25 13.75H11.75C11.198 13.75 10.75 14.198 10.75 14.75V15.75C10.75 16.302 11.198 16.75 11.75 16.75H16.25C16.802 16.75 17.25 16.302 17.25 15.75V14.75C17.25 14.198 16.802 13.75 16.25 13.75Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                      <path d="M9.5 5.25L11.5 2.25C11.5 1.698 11.052 1.25 10.5 1.25H5C4.448 1.25 4 1.698 4 2.25L6 5.25H9.5Z"></path>
                                      <path d="M7.75 5.25V3.75"></path>
                                      <path d="M12.156 7.75C11.434 6.69 10.515 5.794 9.5 5.25"></path>
                                      <path d="M6 5.25C3.609 6.531 1.75 9.766 1.75 12.5C1.75 15.814 4.436 16.75 7.75 16.75C7.7923 16.75 7.83449 16.7498 7.87659 16.7495"></path>
                                      <path d="M16.25 7.75H11.75C11.198 7.75 10.75 8.198 10.75 8.75V9.75C10.75 10.302 11.198 10.75 11.75 10.75H16.25C16.802 10.75 17.25 10.302 17.25 9.75V8.75C17.25 8.198 16.802 7.75 16.25 7.75Z"></path>
                                      <path d="M15.25 10.75H10.75C10.198 10.75 9.75 11.198 9.75 11.75V12.75C9.75 13.302 10.198 13.75 10.75 13.75H15.25C15.802 13.75 16.25 13.302 16.25 12.75V11.75C16.25 11.198 15.802 10.75 15.25 10.75Z"></path>
                                      <path d="M16.25 13.75H11.75C11.198 13.75 10.75 14.198 10.75 14.75V15.75C10.75 16.302 11.198 16.75 11.75 16.75H16.25C16.802 16.75 17.25 16.302 17.25 15.75V14.75C17.25 14.198 16.802 13.75 16.25 13.75Z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Bounties &amp; Grants</div>
                                <p class="text-size-small is-mega-menu">View available bounties and apply for grants</p>
                              </div>
                            </a>
                            <a href="/docs/guides/development-guide" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="M15.25 12.75H4.5C3.534 12.75 2.75 13.533 2.75 14.5V3.75C2.75 2.645 3.645 1.75 4.75 1.75H15.25V12.75Z" fill="currentColor" fill-opacity="0.3" data-stroke="none" stroke="none"></path>
                                      <path d="M15.25 12.75C14.609 13.594 14.516 15.297 15.25 16.25H4.5C3.534 16.25 2.75 15.467 2.75 14.5"></path>
                                      <path d="M15.25 12.75H4.5C3.534 12.75 2.75 13.533 2.75 14.5V3.75C2.75 2.645 3.645 1.75 4.75 1.75H15.25V12.75Z"></path>
                                      <path d="M11.25 5.75C11.25 4.772 10.622 3.948 9.75 3.638V5.5C9.75 5.776 9.526 6 9.25 6H8.75C8.474 6 8.25 5.776 8.25 5.5V3.638C7.378 3.948 6.75 4.772 6.75 5.75C6.75 6.632 7.262 7.387 8 7.756V10C8 10.552 8.448 11 9 11C9.552 11 10 10.552 10 10V7.756C10.738 7.387 11.25 6.632 11.25 5.75Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">How to Contribute</div>
                                <p class="text-size-small is-mega-menu">Engineering at Arrow</p>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="arrow-navbar_dropdown-column is-general">
                          <div class="margin-bottom margin-xsmall title-growth">
                            <div class="menu-title-bullet w-embed">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <g fill="currentColor">
                                  <path d="M11.5 6.5C11.5 8.433 9.933 10 8 10C6.067 10 4.5 8.433 4.5 6.5C4.5 4.567 6.067 3 8 3C9.933 3 11.5 4.567 11.5 6.5Z" stroke="currentColor" stroke-width="2" fill="none"></path>
                                  <path d="M15.0001 21V16.3095C10.8127 13.3185 5.18741 13.3185 1 16.3095V21L15.0001 21Z" stroke="currentColor" stroke-width="2" stroke-linecap="square" fill="none"></path>
                                  <path d="M20.5 6.5C20.5 7.88071 19.3807 9 18 9C16.6193 9 15.5 7.88071 15.5 6.5C15.5 5.11929 16.6193 4 18 4C19.3807 4 20.5 5.11929 20.5 6.5Z" stroke="currentColor" stroke-width="2" fill="none"></path>
                                  <path d="M14.083 12.3565C17.1471 11.1533 20.6354 11.4151 23.5146 13.1427L24 13.4337V19.0001H18V17.0001H22V14.587C20.304 13.7109 18.3907 13.4296 16.5537 13.7384C15.7624 13.1959 14.9358 12.7342 14.083 12.3565Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                </g>
                              </svg>
                            </div>
                            <h4 class="text-size-small is-mega-menu title">Growth &amp; Community</h4>
                          </div>
                          <div class="arrow-navbar_dropdown-link-list">
                            <a href="/docs/community/" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="m10.75,9.25c0-.69-.564-1.25-1.25-1.25s-1.25.56-1.25,1.25v-4.25c0-.69-.564-1.25-1.25-1.25s-1.25.56-1.25,1.25v7.215l-1.768-2.252c-.426-.543-1.215-.635-1.755-.211s-.604,1.131-.211,1.755l1.96,3.014c1.107,1.703,3,2.73,5.03,2.73h1.745c2.761,0,5-2.239,5-5v-2.001c0-.69-.564-1.25-1.25-1.25-.5719,0-1.0108.25-1.251.75,0-.69-.564-1.25-1.25-1.25-.5615,0-1.1216.3392-1.25.75" fill="currentColor" opacity=".3" stroke-width="0"></path>
                                      <path d="m10.75,9.25c0-.69-.564-1.25-1.25-1.25s-1.25.56-1.25,1.25v-4.25c0-.69-.564-1.25-1.25-1.25s-1.25.56-1.25,1.25v7.215l-1.768-2.252c-.426-.543-1.215-.635-1.755-.211s-.604,1.131-.211,1.755l1.96,3.014c1.107,1.703,3,2.73,5.03,2.73h1.745c2.761,0,5-2.239,5-5v-2.001c0-.69-.564-1.25-1.25-1.25-.5719,0-1.0108.25-1.251.75,0-.69-.564-1.25-1.25-1.25-.5615,0-1.1216.3392-1.25.75"></path>
                                      <path d="m2.9991,6.4371c-.1613-.4489-.2491-.9327-.2491-1.4371C2.75,2.6528,4.6528.75,7,.75s4.25,1.9028,4.25,4.25c0,.1189-.0049.2366-.0144.353"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">How to Contribute</div>
                                <p class="text-size-small is-mega-menu">Guide on how to contribute to Arrow DAO</p>
                              </div>
                            </a>
                            <a href="/bounty#general-dao" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="M2.75 9H9V15.25H4.75C3.64543 15.25 2.75 14.3546 2.75 13.25V9Z" fill="currentColor" fill-opacity="0.3" data-stroke="none" stroke="none"></path>
                                      <path d="M15.25 9L9 9L9 2.75L13.25 2.75C14.3546 2.75 15.25 3.64543 15.25 4.75L15.25 9Z" fill="currentColor" fill-opacity="0.3" data-stroke="none" stroke="none"></path>
                                      <path d="M9 2.75V15.25"></path>
                                      <path d="M15.25 9H2.75"></path>
                                      <path d="M13.25 2.75H4.75C3.64543 2.75 2.75 3.64543 2.75 4.75V13.25C2.75 14.3546 3.64543 15.25 4.75 15.25H13.25C14.3546 15.25 15.25 14.3546 15.25 13.25V4.75C15.25 3.64543 14.3546 2.75 13.25 2.75Z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Community Bounty Board</div>
                                <p class="text-size-small is-mega-menu">Find Open bounties &amp; grants</p>
                              </div>
                            </a>
                            <a href="/docs/community/growth-marketing" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="m2.25,5.25c0-1.1046.8954-2,2-2h9.5c1.1046,0,2,.8954,2,2v1.5H2.25v-1.5Z" fill="currentColor" opacity=".3" stroke-width="0"></path>
                                      <line x1="5.75" y1="3.25" x2="5.75" y2="1.25"></line>
                                      <line x1="12.25" y1="3.25" x2="12.25" y2="1.25"></line>
                                      <rect x="2.25" y="3.25" width="13.5" height="12.5" rx="2" ry="2"></rect>
                                      <line x1="2.25" y1="6.75" x2="15.75" y2="6.75"></line>
                                      <path d="m9,8.75c-.551,0-1,.449-1,1s.449,1,1,1,1-.449,1-1-.449-1-1-1Z" stroke-width="0" fill="currentColor"></path>
                                      <path d="m12.5,10.75c.551,0,1-.449,1-1s-.449-1-1-1-1,.449-1,1,.449,1,1,1Z" stroke-width="0" fill="currentColor"></path>
                                      <path d="m9,11.75c-.551,0-1,.449-1,1s.449,1,1,1,1-.449,1-1-.449-1-1-1Z" stroke-width="0" fill="currentColor"></path>
                                      <path d="m5.5,11.75c-.551,0-1,.449-1,1s.449,1,1,1,1-.449,1-1-.449-1-1-1Z" stroke-width="0" fill="currentColor"></path>
                                      <path d="m12.5,11.75c-.551,0-1,.449-1,1s.449,1,1,1,1-.449,1-1-.449-1-1-1Z" stroke-width="0" fill="currentColor"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Calls &amp; Event</div>
                                <p class="text-size-small is-mega-menu">Calendar of upcoming calls and events</p>
                              </div>
                            </a>
                            <a href="/docs/contributing/arrow-brand" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="m13.75,5.25h-6.5c-1.105,0-2,.895-2,2v6.5c0,1.105.895,2,2,2h6.5c1.105,0,2-.895,2-2v-6.5c0-1.105-.895-2-2-2Z" fill="currentColor" opacity=".3" stroke-width="0"></path>
                                      <path d="m12.211,9.9834l-2.296-1.385c-.402-.243-.915.047-.915.516v2.771c0,.47.513.759.915.516l2.296-1.385c.389-.235.389-.798,0-1.033Z" stroke-width="0" fill="currentColor"></path>
                                      <path d="m12.3417,4.7018l-.1786-1.2372c-.1578-1.0937-1.1715-1.8516-2.2652-1.6938l-1.2372.1786"></path>
                                      <path d="m2.5207,10.1606l.1786,1.2372c.1578,1.0937,1.1715,1.8516,2.2652,1.6938l.2856-.0412"></path>
                                      <path d="m4.7018,2.5207l-1.2372.1786c-1.0937.1578-1.8516,1.1715-1.6938,2.2652l.1786,1.2372"></path>
                                      <path d="m13.75,5.25h-6.5c-1.105,0-2,.895-2,2v6.5c0,1.105.895,2,2,2h6.5c1.105,0,2-.895,2-2v-6.5c0-1.105-.895-2-2-2Z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Media</div>
                                <p class="text-size-small is-mega-menu">Community curated media</p>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="arrow-navbar_dropdown-column is-general">
                          <div class="margin-bottom margin-xsmall title-dao">
                            <div class="menu-title-bullet w-embed">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <g fill="currentColor">
                                  <path d="M10 3L10 10L3 10L3 3L10 3Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" fill="none"></path>
                                  <path d="M21 14L21 21L14 21L14 14L21 14Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" fill="none"></path>
                                  <path d="M6.5 21C8.433 21 10 19.433 10 17.5C10 15.567 8.433 14 6.5 14C4.567 14 3 15.567 3 17.5C3 19.433 4.567 21 6.5 21Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                                  <path d="M21 6.5L14 6.5" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" fill="none"></path>
                                  <path d="M17.495 3C17.495 5.34315 17.495 7.65685 17.495 10" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" fill="none"></path>
                                </g>
                              </svg>
                            </div>
                            <h4 class="text-size-small is-mega-menu title">DAO</h4>
                          </div>
                          <div class="arrow-navbar_dropdown-link-list">
                            <a id="w-node-_32cf97d0-089e-13fd-d572-f82690f0497b-90f04915" href="/docs/governance/good-to-know/dao-voting" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="M5.25 7.494C5.25 7.014 5.423 6.55 5.736 6.187L10 1.25C10.854 1.677 11.25 2.678 10.92 3.574L9.75 6.75H14.152C15.465 6.75 16.421 7.993 16.085 9.262L14.894 13.762C14.662 14.639 13.868 15.25 12.961 15.25H7.25C6.145 15.25 5.25 14.355 5.25 13.25" fill="currentColor" fill-opacity="0.3" data-stroke="none" stroke="none"></path>
                                      <path d="M5.25 7.494C5.25 7.014 5.423 6.55 5.736 6.187L10 1.25C10.854 1.677 11.25 2.678 10.92 3.574L9.75 6.75H14.152C15.465 6.75 16.421 7.993 16.085 9.262L14.894 13.762C14.662 14.639 13.868 15.25 12.961 15.25H7.25C6.145 15.25 5.25 14.355 5.25 13.25"></path>
                                      <path d="M4.25 6.75H2.75C2.19772 6.75 1.75 7.19772 1.75 7.75V14.25C1.75 14.8023 2.19772 15.25 2.75 15.25H4.25C4.80228 15.25 5.25 14.8023 5.25 14.25V7.75C5.25 7.19772 4.80228 6.75 4.25 6.75Z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Voting</div>
                                <p class="text-size-small is-mega-menu">Cast your vote on how the DAO operates</p>
                              </div>
                            </a>
                            <a href="/docs/governance/aips/" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="m14.9595,7.7291c-.2737.1453-.6332.2347-.9585.2347-.8613,0-1.624-.5488-1.8975-1.3652l-.1846-.5537-.5513-.1841c-.8184-.2725-1.3677-1.0347-1.3677-1.897,0-.4406.1117-.8498.3647-1.1835.0386-.0509-.3617-.4484-.3617-.4484-.621-.3601-1.386-.3601-2.007,0l-4.249,2.4648c-.617.3582-.997,1.0171-.997,1.73v4.946c0,.7131.38,1.3721.997,1.7302l4.25,2.4648c.621.3601,1.386.3601,2.007,0l4.25-2.4648c.617-.3582.997-1.0171.997-1.7302h-.001v-3.4552s-.1692-.3529-.2905-.2885Z" fill="currentColor" opacity=".3" stroke-width="0"></path>
                                      <path d="m16.159,3.49l-1.263-.421-.421-1.2629c-.137-.408-.812-.408-.949,0l-.421,1.2629-1.263.421c-.204.068-.342.259-.342.474s.138.406.342.474l1.263.421.421,1.263c.068.204.26.342.475.342s.406-.138.475-.342l.421-1.263,1.263-.421c.204-.068.342-.259.342-.474s-.139-.406-.343-.474Z" stroke-width="0" fill="currentColor"></path>
                                      <path d="m9,5.75l.671,2.579,2.579.671-2.579.671-.671,2.579-.671-2.579-2.579-.671,2.579-.671.671-2.579Z" fill="currentColor"></path>
                                      <path d="m9.8445,2.2661c-.5903-.2769-1.2779-.2649-1.8485.0659l-4.249,2.4648c-.617.3582-.997,1.0171-.997,1.73v4.946c0,.7131.38,1.3721.997,1.7302l4.25,2.4648c.621.3601,1.386.3601,2.007,0l4.25-2.4648c.617-.3582.997-1.0171.997-1.7302h-.001v-3.0593"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">AIPS</div>
                                <p class="text-size-small is-mega-menu">Arrow Improvement Proposals</p>
                              </div>
                            </a>
                            <a href="/docs/governance/core/treasury" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path opacity="0.3" d="M9 7.25H14.25C14.802 7.25 15.25 6.802 15.25 6.25V5.836C15.25 5.474 15.054 5.14001 14.739 4.96301L9.489 2.02301C9.185 1.85301 8.81499 1.85301 8.51199 2.02301L3.261 4.96399C2.945 5.14099 2.75 5.475 2.75 5.837V6.251C2.75 6.803 3.198 7.251 3.75 7.251L9 7.25Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                      <path d="M2.75 15.25H15.25"></path>
                                      <path d="M9 7.25H14.25C14.802 7.25 15.25 6.802 15.25 6.25V5.836C15.25 5.474 15.054 5.14001 14.739 4.96301L9.489 2.02301C9.185 1.85301 8.81499 1.85301 8.51199 2.02301L3.261 4.96399C2.945 5.14099 2.75 5.475 2.75 5.837V6.251C2.75 6.803 3.198 7.251 3.75 7.251L9 7.25Z"></path>
                                      <path d="M7.25 15.25V10.25"></path>
                                      <path d="M3.75 15.25V10.25"></path>
                                      <path d="M10.75 15.25V10.25"></path>
                                      <path d="M14.25 15.25V10.25"></path>
                                      <path d="M9 5.75C9.552 5.75 10 5.302 10 4.75C10 4.198 9.552 3.75 9 3.75C8.448 3.75 8 4.198 8 4.75C8 5.302 8.448 5.75 9 5.75Z" fill="currentColor" data-stroke="none" stroke="none"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Treasury</div>
                                <p class="text-size-small is-mega-menu">Funds Overview</p>
                              </div>
                            </a>
                            <a href="/docs/governance/arrow-token" class="arrow-navbar_dropdown-link w-inline-block">
                              <div class="arrow-navbar_icon-holder">
                                <div class="icon-embed-xsmall is-mega-menu w-embed">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18">
                                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="currentColor">
                                      <path d="m9,1.75C4.996,1.75,1.75,4.9961,1.75,9c0,1.9404,1.25,5,1.25,5h12s1.25-3.0596,1.25-5c0-4.0039-3.246-7.25-7.25-7.25Zm2.6464,7.6035l-2.2928,2.293c-.1953.1953-.5118.1953-.7072,0l-2.2928-2.293c-.1953-.1953-.1953-.5117,0-.707l2.2928-2.293c.1953-.1953.5118-.1953.7072,0l2.2928,2.293c.1953.1953.1953.5117,0,.707Z" fill="currentColor" opacity=".3" stroke-width="0"></path>
                                      <path d="m14.8649,13.25c.8675-1.1948,1.3851-2.6604,1.3851-4.25,0-4.0039-3.2459-7.25-7.25-7.25S1.75,4.9961,1.75,9c0,1.5896.5176,3.0552,1.3851,4.25"></path>
                                      <line x1="16.25" y1="16.25" x2="1.75" y2="16.25"></line>
                                      <rect x="6.8787" y="6.8787" width="4.2426" height="4.2426" rx=".5" ry=".5" transform="translate(-3.7279 9) rotate(-45)"></rect>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="arrow-navbar_item-text">
                                <div class="text-weight-semibold is-mega-menu">Arrow Token</div>
                                <p class="text-size-small is-mega-menu">Basics of the Arrow governance token</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="arrow-navbar_dropdown-content-right">
                        <div class="arrow-navbar_dropdown-content-wrapper z-index-1">
                          <div class="arrow-navbar_dropdown-small-link-list">
                            <h4 class="text-size-small is-mega-menu">Useful Links</h4>
                          </div>
                          <div class="arrow-navbar_dropdown-link-list">
                            <a href="https://drive.google.com/drive/folders/1efLrzqsiajzlxXiOUjxPT53CkfDGC0Yu?usp=drive_link" target="_blank" class="arrow-navbar_dropdown-link-small is-mega-menu">Google Drive</a>
                            <a href="https://github.com/Arrow-air" target="_blank" class="arrow-navbar_dropdown-link-small is-mega-menu">GitHub</a>
                            <a href="/docs/contributing/how-we-work" class="arrow-navbar_dropdown-link-small is-mega-menu">Onboarding</a>
                            <a href="/docs/governance/core/treasury" class="arrow-navbar_dropdown-link-small is-mega-menu">Treasury</a>
                            <a href="/docs/intro" class="arrow-navbar_dropdown-link-small is-mega-menu">FAQs</a>
                          </div>
                        </div>
                        <div class="arrow-navbar_dropdown-background-layer background-color-secondary"></div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="arrow-navbar_menu-right">
              <a href="/docs/" class="button is-secondary is-icon is-alternate nav w-inline-block">
                <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"><path d="M4 3h2v18H4zm14 0H7v18h11c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-2 6h-6V8h6zm0-2h-6V6h6z"></path></svg></div>
                <div class="nav-link-docs">DOCS</div>
              </a>
              <a href="https://discord.com/invite/arrow" target="_blank" class="button is-secondary is-icon is-alternate w-inline-block" style="background: rgba(255,255,255,0.08) !important;">
                <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32"><title>discord</title><g fill="currentColor"><path d="M26.413,6.536c-1.971-.902-4.052-1.543-6.189-1.904-.292,.523-.557,1.061-.793,1.612-2.277-.343-4.592-.343-6.869,0-.236-.551-.5-1.089-.793-1.612-2.139,.365-4.221,1.006-6.194,1.909C1.658,12.336,.596,17.987,1.127,23.558h0c2.294,1.695,4.861,2.984,7.591,3.811,.615-.827,1.158-1.704,1.626-2.622-.888-.332-1.744-.741-2.56-1.222,.215-.156,.425-.316,.628-.472,4.806,2.26,10.37,2.26,15.177,0,.205,.168,.415,.328,.628,.472-.817,.483-1.676,.892-2.565,1.225,.467,.918,1.011,1.794,1.626,2.619,2.732-.824,5.301-2.112,7.596-3.808h0c.623-6.461-1.064-12.06-4.46-17.025Zm-15.396,13.596c-1.479,0-2.702-1.343-2.702-2.994s1.18-3.006,2.697-3.006,2.73,1.354,2.704,3.006-1.192,2.994-2.699,2.994Zm9.967,0c-1.482,0-2.699-1.343-2.699-2.994s1.18-3.006,2.699-3.006,2.723,1.354,2.697,3.006-1.189,2.994-2.697,2.994Z"></path></g></svg></div>
                <div>DISCORD</div>
              </a>
            </div>
          </nav>
          <div class="arrow-navbar_menu-button w-nav-button">
            <div class="menu-icon5">
              <div class="menu-icon1_line-top"></div>
              <div class="menu-icon1_line-middle">
                <div class="menu-icon1_line-middle-inner"></div>
              </div>
              <div class="menu-icon1_line-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
