.cla-text .lst-kix_xdh80phlgwv-7 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-7, lower-latin) ". "
}

.cla-text .lst-kix_xdh80phlgwv-8 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-8, lower-roman) ". "
}

.cla-text .lst-kix_xdh80phlgwv-5 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-5, lower-roman) ". "
}

.cla-text .lst-kix_xdh80phlgwv-6 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-6, decimal) ". "
}

.cla-text .lst-kix_xdh80phlgwv-1 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-1
}

.cla-text ol.lst-kix_xdh80phlgwv-4.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-4 0
}

.cla-text .lst-kix_xdh80phlgwv-5 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-5
}

.cla-text .lst-kix_xdh80phlgwv-0 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-0, decimal) ". "
}

.cla-text .lst-kix_xdh80phlgwv-2 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-2
}

.lst-kix_xdh80phlgwv-8 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-8
}

.cla-text .lst-kix_xdh80phlgwv-1 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-1, lower-latin) ". "
}

.cla-text .lst-kix_xdh80phlgwv-2 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-2, lower-roman) ". "
}

.cla-text .lst-kix_xdh80phlgwv-3 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-3, decimal) ". "
}

.cla-text .lst-kix_xdh80phlgwv-4 > li:before {
  content: "" counter(lst-ctn-kix_xdh80phlgwv-4, lower-latin) ". "
}

.cla-text ol.lst-kix_xdh80phlgwv-1.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-1 0
}

.cla-text ol.lst-kix_xdh80phlgwv-6.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-6 0
}

.cla-text ol.lst-kix_xdh80phlgwv-5.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-5 0
}

.cla-text .lst-kix_xdh80phlgwv-0 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-0
}

.cla-text ol.lst-kix_xdh80phlgwv-0.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-0 0
}

.cla-text .lst-kix_xdh80phlgwv-6 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-6
}

.cla-text ol.lst-kix_xdh80phlgwv-3.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-3 0
}

.cla-text .lst-kix_xdh80phlgwv-3 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-3
}

.cla-text li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.cla-text ol.lst-kix_xdh80phlgwv-8.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-8 0
}

.cla-text ol.lst-kix_xdh80phlgwv-5 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-6 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-2.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-2 0
}

.cla-text ol.lst-kix_xdh80phlgwv-7 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-8 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-7.start {
  counter-reset: lst-ctn-kix_xdh80phlgwv-7 0
}

.cla-text .lst-kix_xdh80phlgwv-4 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-4
}

.cla-text ol.lst-kix_xdh80phlgwv-0 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-1 {
  list-style-type: none
}

.cla-text .lst-kix_xdh80phlgwv-7 > li {
  counter-increment: lst-ctn-kix_xdh80phlgwv-7
}

.cla-text ol.lst-kix_xdh80phlgwv-2 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-3 {
  list-style-type: none
}

.cla-text ol.lst-kix_xdh80phlgwv-4 {
  list-style-type: none
}

.cla-text ol {
  margin: 0;
  padding: 0
}

.cla-text table td, table th {
  padding: 0
}

.cla-text .c0 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c2 {
  margin-left: 72pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c11 {
  background-color: #ffffff;
  padding-top: 12pt;
  padding-bottom: 8pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.cla-text .c5 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c8 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c10 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c6 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.cla-text .c12 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.cla-text .c4 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline
}

.cla-text .c9 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.cla-text .c3 {
  padding: 0;
  margin: 0
}

.cla-text .c7 {
  font-style: italic
}

.cla-text .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

.cla-text p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

.cla-text h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.cla-text h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
