html, body {
    height: 100%;
    color: var(--bs-dark);
}

h1, h2, h3, h4, h5 {
    font-family: 'Rubik', sans-serif!important;
    font-weight: bold;
}

ul {
    list-style-type: square;
}

.d-flex {
    display: flex !important;
}

.d-flex-center-center {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

.fs-7 {
    font-size: 0.9rem!important;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 60px;
}

.navbar__items--right > :last-child {
    padding-right: calc( var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier) );
}
.nav-link svg {
    display: none;
}

.footer__logo {
    margin-top: 0;
    max-width: 14rem;
}

.top-banner {
    background-position: bottom left, left top;
    background-image: url(/img/bg-hero-upper.png), linear-gradient(to bottom, var(--bs-light), var(--bs-lavender));
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.top-banner img {
    margin-top: -5rem;
    margin-bottom: -7%;
}

.card {
    border-radius: 0rem;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.card-body {
    justify-content: center !important;
}

.divider-dark {
    background: rgb(128,134,237);
    background: linear-gradient(90deg, rgba(var(--bs-midnight-rgb),1) 0%, rgb(var(--bs-blue-rgb)) 70%, #f9a687 100%);
}

.divider {
    background: rgb(128,134,237);
    background: linear-gradient(90deg, rgba(var(--bs-blue-rgb),1) 0%, #7a76a9 50%, #f9a687 100%);
}

.discord-border-gradient {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--bs-lavender), var(--bs-orange))
}

.discord-button-top {
    position: absolute;
    top: -3rem;
}
.discord-button-top div {
    color: var(--bs-navy)!important;
    font-style: italic;
    font-size: 0.8rem;
}

.text-bg-white-padded span {
    background-color: rgba(255,255,255,0.5);
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/* Extra theme colors */
.border-gray {
    border-color: var(--bs-gray)!important;
}

.text-gray-dark {
    color: var(--bs-gray-dark)!important;
}
.bg-gray-dark {
    background-color: var(--bs-gray-dark);
}
.border-gray-dark {
    border-color: var(--bs-gray-dark)!important;
}

.bg-gray-light {
    background-color: var(--bs-gray-light);
}


.text-blue-dark {
    color: var(--bs-blue-dark)!important;
}
.bg-blue-dark {
    background-color: var(--bs-blue-dark);
}
.text-bg-blue-dark-padded span {
    background-color: rgba(var(--bs-blue-dark-rgb), 0.2);
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.bg-blue-dark-gradient {
    background-color: var(--bs-blue-dark);
    background-image: linear-gradient(to bottom left, var(--bs-blue-dark), var(--bs-lavender));
}
.border-blue-dark {
    border-color: var(--bs-blue-dark)!important;
}

.text-blue {
    color: var(--bs-blue)!important;
}
.bg-blue {
    background-color: var(--bs-blue);
}
.text-bg-blue-padded span {
    background-color: rgba(var(--bs-blue-rgb), 0.2);
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.bg-blue-gradient {
    background-color: var(--bs-blue);
    background-image: linear-gradient(to bottom left, var(--bs-blue), var(--bs-lavender));
}
.border-blue {
    border-color: var(--bs-blue)!important;
}

.text-navy {
    color: var(--bs-navy)!important;
}
.text-bg-navy-padded span {
    background-color: var(--bs-navy);
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.bg-navy {
    background-color: var(--bs-navy);
}
.bg-navy-gradient {
    background-color: var(--bs-navy);
    background-image: linear-gradient(to bottom, rgba(var(--bs-blue-rgb),.5), var(--bs-navy) 40%);
}
.border-navy {
    border-color: var(--bs-navy)!important;
}

.text-midnight {
    color: var(--bs-midnight)!important;
}
.text-bg-midnight-padded span {
    background-image: linear-gradient(to right, rgba(27,20,100,0.1), rgba(40, 35, 118, 0.3));
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.bg-midnight {
    background-color: var(--bs-midnight);
}
.bg-midnight-gradient {
    background-color: var(--bs-midnight);
    background-image: linear-gradient(to bottom, var(--bs-navy), var(--bs-midnight));
}
.border-midnight {
    border-color: var(--bs-midnight)!important;
}

.text-lavender {
    color: var(--bs-lavender)!important;
}
.text-bg-lavender-padded span {
    background-image: linear-gradient(to right, rgba(27,20,100,0.1), rgba(40, 35, 118, 0.3));
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.bg-lavender {
    background-color: var(--bs-lavender);
}
.bg-lavender-light {
    background-color: var(--bs-lavender-light);
}

.bg-lavender-gradient {
    background-color: var(--bs-lavender);
    background-image: linear-gradient(to bottom, var(--bs-navy), var(--bs-lavender));
}
.border-lavender {
    border-color: var(--bs-lavender)!important;
}
.border-lavender-light {
    border-color: var(--bs-lavender-light)!important;
}

.text-orange {
    color: var(--bs-orange)!important;
}
.text-bg-orange-padded span {
    background-image: linear-gradient(to right, rgba(27,20,100,0.1), rgba(40, 35, 118, 0.3));
    padding: 3px 15px;
    line-height: 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.bg-orange {
    background-color: var(--bs-orange);
}
.bg-orange-gradient {
    background-color: var(--bs-orange);
    background-image: linear-gradient(to bottom, var(--bs-navy), var(--bs-orange));
}
.border-orange {
    border-color: var(--bs-orange)!important;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2rem!important;
    }
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.75rem!important;
    }
}

@media (min-width: 1200px) {
    h4, .h4 {
        font-size: 1.5rem!important;
    }
}

/* Arrow brand colors */
:root {
    --bs-dark-rgb: 6, 5, 40;
    --bs-dark: #060528;
    --bs-light-rgb: 217, 215, 229;
    --bs-light: #d9d7e5;
    --bs-primary-rgb: 83, 82, 153;
    --bs-primary: #535299;
    --bs-secondary-rgb: 27, 20, 100;
    --bs-secondary: #1b1464;
    --bs-blue-rgb: 96, 97, 177;
    --bs-blue: #6061b1;
    --bs-blue-dark-rgb: 67, 66, 139;
    --bs-blue-dark: #43428b;
    --bs-navy-rgb: 27, 20, 100;
    --bs-navy: #1b1464;
    --bs-midnight-rgb: 6, 5, 40;
    --bs-midnight: #060528;
    --bs-lavender-rgb: 128, 134, 237;
    --bs-lavender: #8086ed;
    --bs-lavender-light: #c8c8e5;
    --bs-orange-rgb: 252, 161, 134;
    --bs-orange: #fca186;

    --bs-gray-light: #e6e6e6;
    --bs-gray: #cdcdcd;
    --bs-gray: #cdcdcd;
    --bs-gray-dark: #a6a6a6;
    --bs-font-sans-serif: "karla",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    /* IFM overrides */

    --ifm-font-family-base: "karla",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --ifm-h1-font-size: calc(1.375rem + 1.5vw);
    --ifm-h2-font-size: calc(1.325rem + 0.9vw);
    --ifm-h3-font-size: calc(1.3rem + 0.6vw);
    --ifm-h4-font-size: calc(1.275rem + 0.3vw);
    --ifm-h5-font-size: 1.25rem;
    --ifm-h6-font-size: 1rem;
    --ifm-footer-link-color: #1b1464;
    --ifm-footer-title-color: #a29cbe;
    --ifm-global-radius: 0.2rem;
    --ifm-global-spacing: 1.5rem;
    --ifm-navbar-item-padding-horizontal: 0.4rem;
    --ifm-navbar-item-padding-vertical: 0.4rem;
    --ifm-navbar-height: 5rem;

    --ifm-color-primary: #535299;
    --ifm-color-secondary: #1b1464;

    --ifm-container-width-xl: 1800;

    /* possible overrides

    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    */
}

.sign-cla input[type=checkbox]{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.sign-cla input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #663399;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.sign-cla input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.sign-cla .cla-scroll-box {
  padding: 5px 20px  0;
  border: #7a76a9 1px solid;
  border-radius: 5px;
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sign-cla .controls {
  margin-top: 20px;
}
.sign-cla .cb-text {
  padding-left: 7px;
  position: relative;
  top: -2px;
}

.sign-cla button {
  font-size: 1em;
  line-height: 1;
  position: relative;
  border: 2px solid;
  padding: 5px;
  margin-top: 13px;
  border-radius: 5px;
  transition: background .3s;
  color: rgb(27, 20, 100);
  background: rgb(200, 200, 229);
  border-color: rgb(200, 200, 229);
}

.sign-cla button span {
    margin-left: 5px;
    position: relative;
    top: 2px;
    padding-bottom: 10px
}
.sign-cla button:hover,
.sign-cla button:focus {
    background: darkgrey;
    border-color: darkgrey;
 }
