name: Create cloudfront invalidation

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "Environment to deploy to"
      paths:
        required: true
        type: string
        description: "Paths to invalidate"

jobs:
  aws-cloudfront:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    steps:
     - name: Configure AWS Credentials
       uses: aws-actions/configure-aws-credentials@v1
       with:
         role-to-assume: "${{ secrets.AWS_ROLE_ARN }}"
         role-session-name: arrow-website-invalide-cloudfront
         aws-region: "us-east-2"
     - name: Create Invalidation
       run: |
         aws cloudfront create-invalidation --distribution-id "${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION }}" --paths "${{ inputs.paths }}"
